body {
    background-color:rgb(240, 240, 240);
    margin: 0;
}

.main_content {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

/* cover photo */

.intro_imgs_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    background: url("../neon.jpg") no-repeat center top;
    background-size: cover;
    height: 125vh;
    width: 100%;
}

.intro_imgs_parent_container {
    width: 110%;
    margin-left: 110px;
    margin-top: -40px;
}

.intro_imgs {
    width: 100%;
}

/* mission statement section */

.mission_statement_parent_container {
    width: 100%;
    margin-top: -20px;
}

.mission_statement_paragraph {
    margin-bottom: -40px;
}

.mission_statement_paragraph, .mission_statement_paragraph_2 {
    padding-left: 10px;
    padding-right: 10px;
}

.mission_statement_paragraph, .mission_statement_paragraph_2 {
    color: white;
    font-family: Orbitron;
    font-style: italic;
    font-weight: 500;
    margin-left: 180px;
}

.mission_statement_paragraph_2 {
    font-size: 42px;
    font-weight: 900;
}

/* about us section */

.about_us_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 60px;
    justify-content: center;
    align-content: center;
    margin-top: -60px;
    width: 95%;
}

.quality_parent_container, .performance_parent_container, .groundbreaking_parent_container {
    background-image: linear-gradient(to bottom right, rgb(0, 22, 50), rgb(0, 22, 50), rgb(222, 80, 222));
    border-radius: 10px;
    border: 2px solid rgb(222, 80, 222);
    height: 100%;
    width: 100%;
    min-width: 100%;
}

.quality_title_paragraph, .performance_title_paragraph, .groundbreaking_title_paragraph {
    color: white;
    font-family: Orbitron;
    font-weight: 700;
    font-style: italic;
    font-size: 32px;
    text-align: center;
    width: fit-content;
    margin: auto;
    padding-top: 20px;
}

.quality_description_paragraph, .performance_description_paragraph, .groundbreaking_description_paragraph {
    color: white;
    font-family: Poppins;
    font-size: 18px;
    text-align: center;
    padding: 10px;
}

/* deals title & section */

/* deals title */

.deals_title_parent_container {
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.deals_title_paragraph {
    font-family: Orbitron;
    font-weight: 900;
    font-size: 36px;
    color: #202020;
    border-bottom: 4px solid rgb(222, 80, 222);
    text-align: center;
}

/* deals section */

.deals_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
    width: 95%;
}

.pc_deal_1 {
    background: url("../generator\ background.png") no-repeat center top;
    background-size: cover;
    width: 100%;
    border-radius: 10px;
}

.pc_deal_2 {
    background: url("../omega\ background.png");
    width: 100%;
    border-radius: 10px;
}

.pc_deal_3 {
    background: url("../quicksilver\ storm\ background.png") no-repeat center top;
    background-size: cover;
    width: 100%;
    border-radius: 10px;
}

/* title of deal */

.pc_name_1, .pc_name_2, .pc_name_3 {
    font-family: Orbitron;
    color: white;
    font-weight: 700;
    font-size: 26px;
    text-align: center;
}

/* offer duration */

.offer_duration_1, .offer_duration_2, .offer_duration_3 {
    width: 185px;
    background-color: rgb(255, 70, 70);
    font-family: Poppins;
    font-weight: 500;
}

/* image of pc */

.featured_pc_1, .featured_pc_2, .featured_pc_3 {
    width: 100%;
}

/* buttons */

.align_button_container_1, .align_button_container_2, .align_button_container_3 {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.buy_now_button_1, .buy_now_button_2, .buy_now_button_3 {
    border-radius: 10px;
    background-color: rgb(222, 80, 222);
    font-weight: 700;
    font-family: Poppins;
    color: white;
    border: none;
    height: 45px;
    width: 120px;
    font-size: 16px;
}

.buy_now_button_1:hover, .buy_now_button_2:hover,
.buy_now_button_3:hover, .buy_now_button_4:hover {
    cursor: pointer;
    box-shadow: 0px 0px 2px 2px rgb(222, 80, 222);
    text-shadow: 0px 0px 10px white;
    transition-duration: 0.1s;
}

/* featured pcs title */

.shop_pcs_title_container {
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.shop_pcs_paragraph {
    font-family: Orbitron;
    font-weight: 900;
    font-size: 36px;
    color: #202020;
    border-bottom: 4px solid rgb(222, 80, 222);
    text-align: center;
}

/* shop pcs section */

.featured_pcs_section {
    background-image: linear-gradient(to bottom, rgb(0, 22, 50), rgb(134, 46, 134));
}

.featured_pcs_parent_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    width: 100%;
}

.pc_container_1, .pc_container_2, .pc_container_3,
.pc_container_4, .pc_container_5, .pc_container_6 {
    background-color: transparent;
    padding: 40px;
}

.test_container {
    background-color: transparent;
    border-radius: 10px;
}

.test_container:hover {
    box-shadow: 0px 0px 2px 2px rgb(222, 80, 222);
    transition-duration: 0.15s;
}

.regular_pc_1, .regular_pc_2, .regular_pc_3,
.regular_pc_4, .regular_pc_5, .regular_pc_6 {
    width: 100%;
}

.inner_inner_grid_1, .inner_inner_grid_2, .inner_inner_grid_3,
.inner_inner_grid_4, .inner_inner_grid_5, .inner_inner_grid_6 {
    display: grid;
    justify-content: left;
    align-items: left;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(219, 219, 219);
}

.inner_inner_inner_grid_1, .inner_inner_inner_grid_2, .inner_inner_inner_grid_3,
.inner_inner_inner_grid_4, .inner_inner_inner_grid_5, .inner_inner_inner_grid_6 {
    display: grid;
    justify-content: center;
    align-items: center;
}

.pc_title_1, .pc_title_2, .pc_title_3,
.pc_title_4, .pc_title_5, .pc_title_6 {
    text-align: center;
    font-family: Orbitron;
    font-weight: 700;
    font-size: 26px;
    color: black;
    width: fit-content;
    height: fit-content;
}

.pc_title_inner_grid {
    display: grid;
    justify-content: center;
    align-items: center;
}

/* pc rating */

.pc_title_premium_1, .pc_title_premium_2 {
    text-align: center;
    font-family: orbitron;
    font-style: italic;
    font-weight: 500;
    font-size: 22px;
    border: 2px solid black;
    background-image: linear-gradient(to right, #dad9d7, #cbcac8, #b9b8b7, #f0efed);
    box-shadow: 0 0 4px black;
    color: black;
    width: fit-content;
    height: fit-content;
    margin-top: 25.5px;
}

.pc_title_exclusive {
    text-align: center;
    font-family: orbitron;
    font-style: italic;
    font-weight: 500;
    font-size: 22px;
    border: 2px solid black;
    background-image: linear-gradient(to right, #c19de1, #ad87d8, #946cb5, #dcc2fa);
    box-shadow: 0 0 4px black;
    color: black;
    width: fit-content;
    height: fit-content;
    margin-top: 25.5px;
}

.pc_title_standard_1, .pc_title_standard_2 {
    text-align: center;
    font-family: orbitron;
    font-style: italic;
    font-weight: 500;
    font-size: 22px;
    border: 2px solid black;
    background-image: linear-gradient(to right, #a8b9da, #8291cf, #7a97d1, #bfdaff);
    box-shadow: 0 0 4px black;
    color: black;
    width: fit-content;
    height: fit-content;
    margin-top: 25.5px;
}

.pc_title_all_rounder {
    text-align: center;
    font-family: orbitron;
    font-style: italic;
    font-weight: 500;
    font-size: 22px;
    border: 2px solid black;
    background-image: linear-gradient(to right, rgb(255, 131, 131), rgb(255, 195, 84), rgb(255, 255, 85), rgb(81, 162, 81), rgb(81, 81, 255), rgb(114, 72, 145));
    box-shadow: 0 0 4px black;
    color: black;
    width: fit-content;
    height: fit-content;
    margin-top: 25.5px;
}

.inner_grid_1, .inner_grid_2, .inner_grid_3,
.inner_grid_4, .inner_grid_5, .inner_grid_6 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: rgb(240, 240, 240);
}

.pc_info_1, .pc_info_2, .pc_info_3, 
.pc_info_4, .pc_info_5, .pc_info_6 {
    margin-bottom: 15px;
    font-family: montserrat;
    font-size: 11px;
    color: black;
    width: 92%;
}

.bold_1, .bold_2, .bold_3,
.bold_4, .bold_5, .bold_6 {
    font-weight: 700;
}

.align_button_container_5, .align_button_container_6,
.align_button_container_7, .align_button_container_8,
.align_button_container_9, .align_button_container_10 {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-bottom: -15px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgb(219, 219, 219);
}

.buy_now_button_5, .buy_now_button_6, .buy_now_button_7,
.buy_now_button_8, .buy_now_button_9, .buy_now_button_10 {
    border-radius: 10px;
    border: none;
    background-color: rgb(222, 80, 222);
    font-weight: 700;
    font-family: Poppins;
    color: white;
    height: 35px;
    font-size: 13px;
    margin-bottom: -15px;
}

.buy_now_button_5:hover, .buy_now_button_6:hover, .buy_now_button_7:hover, 
.buy_now_button_8:hover, .buy_now_button_9:hover, .buy_now_button_10:hover {
    cursor: pointer;
    box-shadow: 0px 0px 2px 2px rgb(222, 80, 222);
    text-shadow: 0px 0px 10px white;
    transition-duration: 0.1s;
}

.pc_price {
    margin-top: 10px;
    color: black;
    font-weight: 700;
    font-size: 14px;
    font-family: montserrat;
    font-style: italic;
}

/* media queries */

@media screen and (max-width: 1440px) {

    .about_us_section {
        grid-template-columns: 1fr 1fr;
        row-gap: 40px;
    }

    .groundbreaking_parent_container {
        grid-column: span 2;
        min-width: 0;
        width: 70%;
        justify-self: center;
    }

    .deals_section {
        grid-template-columns: 1fr 1fr;
        row-gap: 20px;
    }

    .pc_deal_3 {
        justify-self: center;
        grid-column: span 2;
        width: 60%;
    }

    .featured_pcs_parent_container {
        grid-template-columns: 1fr 1fr;
    }

    .pc_info_1, .pc_info_2, .pc_info_3,
    .pc_info_4, .pc_info_5, .pc_info_6 {
        font-size: 14px;
    }
}

@media screen and (max-width: 1130px) {
    .intro_imgs_section {
        grid-template-columns: 1fr;
    }

    .intro_imgs {
        display: none;
    }

    .mission_statement_parent_container {
        width: 100%;
        text-align: center;
        margin-top: -380px;
    }

    .mission_statement_paragraph, .mission_statement_paragraph_2 {
        margin-left: 0px;
    }

    .mission_statement_paragraph {
        font-size: 22px;
    }

    .mission_statement_paragraph_2 {
        font-size: 48px;
    }
}

@media screen and (max-width: 768px) {

    .about_us_section {
        grid-template-columns: 1fr;
        margin-top: 40px;
    }

    .groundbreaking_parent_container {
        grid-column: auto;
        min-width: 100%;
        width: 100%;
    }

    .featured_pcs_parent_container {
        grid-template-columns: 1fr;
    }

    .pc_container_1, .pc_container_2, .pc_container_3, 
    .pc_container_4, .pc_container_5, .pc_container_6 {
        width: 70%;
        margin: 0 auto;
    }

    .pc_info_1, .pc_info_2, .pc_info_3,
    .pc_info_4, .pc_info_5, .pc_info_6 {
        font-size: 14px;
    }
}

@media screen and (max-width: 580px) {
    .deals_section {
        grid-template-columns: 1fr;
    }

    .pc_deal_3 {
        grid-column: auto;
    }

    .pc_deal_1, .pc_deal_2, .pc_deal_3 {
        width: 90%;
        justify-self: center
    }
}

@media screen and (max-width: 550px) {
    .inner_inner_grid_1, .inner_inner_grid_2, .inner_inner_grid_3,
    .inner_inner_grid_4, .inner_inner_grid_5, .inner_inner_grid_6 {
        grid-template-columns: 1fr;
    }

    .inner_inner_inner_grid_1, .inner_inner_inner_grid_2, .inner_inner_inner_grid_3,
    .inner_inner_inner_grid_4, .inner_inner_inner_grid_5, .inner_inner_inner_grid_6 {
        margin-top: -20px;
    }

    .inner_grid_1, .inner_grid_2, .inner_grid_3,
    .inner_grid_4, .inner_grid_5, .inner_grid_6 {
        grid-template-columns: 1fr;
        padding-bottom: 25px;
    }

    .pc_info_1, .pc_info_2, .pc_info_3, 
    .pc_info_4, .pc_info_5, .pc_info_6 {
        width: fit-content;
        margin: auto;
    }
}

@media screen and (max-width: 425px) {
    .quality_title_paragraph, .performance_title_paragraph, .groundbreaking_title_paragraph {
        font-size: 22px;
    }

    .quality_description_paragraph, .performance_description_paragraph, .groundbreaking_description_paragraph {
        font-size: 16px;
    }
}